#root {
  margin: 0 auto;
  text-align: center;
  background-color: #f4f3ee;
  min-height: 100vh;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  margin: 3rem;
  justify-self: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #eee2df;
  font-weight: 600;
  text-align: left;
}
.loginForm > input {
  padding: 0.5rem;
  height: 2rem;
}
.loginForm > input[type="submit"] {
  margin: 1rem auto;
  width: 30%;
  padding: 0;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: #ce4257;
  color: white;
  border: none;
}

.HomeCont {
  margin-top: 3rem;
}
.HomeCont {
  width: 40%;
  margin: 9rem auto;
  text-align: right;
  padding-right: 1rem;
  border-right: 2rem solid #b23a48;
}
.HomeCont > h1 {
  font-size: 7rem;
  color: #b23a48;
  margin: 0.5rem 0;
}
.HomeCont > h2 {
  font-size: 2rem;
  color: #fcb9b2;
  margin: 0.5rem;
}
.HomeCont > p {
  font-size: 1.5rem;
  color: #ff7f51;
  margin: 2rem 0;
}

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  margin: 0.5rem auto;
  color: #000;
  background-color: #f4f3ee;

  /* border-top: 1px solid #ce4257; */
}

.moviesCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 3rem;
}

.movieCard {
  border-radius: 1rem;
  background-color: #edede9;
}

.movieImg {
  padding: 0.5rem 0;
  width: 95%;
  border-radius: 1rem;
}

.movieCard > h2 {
  margin: 0;
  color: #ce4257;
}

.btnCont {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.editBtn {
  background-color: #ff7f51;
}

.deleteBtn {
  background-color: #ff9b54;
}
.viewBtn {
  background-color: #ce4257;
}

.addMovieForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  margin-bottom: 3rem;
  justify-self: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #eee2df;
  font-weight: 600;
  text-align: left;
}
.addMovieForm > input {
  padding: 0.5rem;
  height: 2rem;
}
.addMovieForm > select {
  padding: 0.5rem;

  height: 2rem;
}
.addMovieForm > input[type="submit"] {
  margin: 1rem auto;
  width: 30%;
  padding: 0;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: #ce4257;
  color: white;
  border: none;
}

.addMovieBtn {
  margin: 0.5rem 0;
}

.genreAndForm {
  display: flex;
  align-items: center;
  padding: 0.5rem 5rem;
  margin: 1rem auto;
  justify-content: space-between;
}

.genreAndForm > div > select {
  padding: 0.5rem;
  height: 2rem;
}

.navbar {
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #ce4257;
}

.navbar > h1 {
  margin: 0 0 0.5rem 0;
  color: #b23a48;
}

#navLinkCont {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 20%;
}

.logoutBtn {
  color: #ce4257;
  background-color: transparent;
  border: none;
  font-weight: 600;
  margin-right: 1rem;
  padding: 0;
}
.logoutBtn:hover {
  border: none;
  color: #b23a48;
}

.error {
  color: #b23a48;
  font-size: 4rem;
  width: 70%;
  margin: 8rem auto;
}

.viewDetailsDiv {
  /* border: 5px solid #b23a48; */
  height: 25rem;
  background-color: #edede9;

  display: flex;
  gap: 3rem;
  border-radius: 1rem;
  width: 70%;
  margin: 5rem auto;
}
.viewDetailsDiv > img {
  border-radius: 1rem;
}

.details {
  text-align: left;
}
.details > h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #b23a48;
}

.backtoMoviesBtn {
  background-color: #ff7f51;
}
